In [1]:
lst = ['apple','mango','banana','grapes','orange']
for i in lst:
    print(i)

apple
mango
banana
grapes
orange

In [2]:
lst = ['apple','mango','banana','grapes','orange']
for i in lst:
    print(i, end='')

applemangobananagrapesorange

In [3]:
for x in range(5):
    print(x)

0
1
2
3
4

In [4]:
for x in range(2, 11):
    print(x)

2
3
4
5
6
7
8
9
10

In [5]:
for x in range(1,11,3):
    print(x)

1
4
7
10

In [6]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

Break and Continue

In [7]:
fruits = ['apple','mango','banana','grapes','tomato','papaya','orange','kiwi']
for x in fruits:
    if x == 'tomato':
        break
    print(x)

apple
mango
banana
grapes

In [8]:
fruits = ['apple','mango','banana','grapes','tomato','orange','kiwi']
for x in fruits:
    if x == 'tomato':
        continue
    print(x)

apple
mango
banana
grapes
orange
kiwi

- print even numbers from 1 to 20 using condition statement
- print odd number from 1 to 20 without using condition statement
- print only starting three of your first name like sam.
- check whether a number is prime or not

In [13]:
name = "ARIBA"
for x in name:
    if x == 'B':
        break
    print(x)

A
R
I

In [14]:
num = 7
if num < 2:
    print("Not Prime number")
else:
    for i in range(2, num):
        if num % i == 0:
            print("Not Prime number")
            break
    else:
        print("Prime number")

Prime number

In [9]:
lst = [1,3,2,4,5,8,6,7]
for i in lst:
    if i == 4:
        print("we are skipping 4")
        continue
    # if i == 8:
    #     print("Found 8!")
    #     break
else:
    print("6 not found in the list")

we are skipping 4
6 not found in the list

In [10]:
n = 4
if n < 2:
    print("Not prime")
else:
    for i in range(2, n):
        if n % i == 0:
            print("not prime")
            break
    else:
        print("prime")

not prime

In [16]:
n = 1
while n <= 2:
    if n == 3:
        print("Found 3!")
        break
    n+=1
else:
    print("Loop finished without finding 3")

Loop finished without finding 3

In [12]:
numbers = [5,8,12,15,20,25]
for n in numbers:
    if n % 2 == 0:   #check even numbers
        if n > 10:   #check greater than 10
            print("Found an even number greater than 10:", n)
            break
else:
    print("No condition met.")

Found an even number greater than 10: 12