In [6]:
word = input("Enter a number:")
a = int(word)
word2 = input("Enter another number:")
b = int(word2)
print(a + b)

5

In [7]:
word = int(input("Enter a number:"))
word2 = int(input("Enter another number:"))
print(word + word2)

5

- how to create dictionary in multiple ways
- how to access key and value pairs
- how to apply loop in dictionary
- how to crate a nested dictionary
- how to acces element inside a nested dictionary

In [2]:
student = {
    "name" : "Alice",
    "age" : 20,
    'course' : 'Computer Science',
    'school' : 'XYZ University'
}
print(student)

{'name': 'Alice', 'age': 20, 'course': 'Computer Science', 'school': 'XYZ University'}

In [3]:
temp = {
    'lucknow' : [32, 45, 35],
    'chennai' : [30, 33, 31],
    'delhi' : [28, 34, 29]
}
print(temp)

{'lucknow': [32, 45, 35], 'chennai': [30, 33, 31], 'delhi': [28, 34, 29]}

In [8]:
info = dict(name = "Bob", age = 20, course = 'Computer Science', school = 'ABC University')
print(info)

{'name': 'Bob', 'age': 20, 'course': 'Computer Science', 'school': 'ABC University'}

In [9]:
info = dict(name = input("Enter a name: "), age = int(input("Enter age: ")), course = input("Enter course: "), school = input("Enter school: "))
print(info)

{'name': 'Smith', 'age': 20, 'course': 'Commerce', 'school': 'SRMU'}

In [ ]:
#1st method to access values in a dictionary
info['name']

'Smith'

In [11]:
#2nd method to access values in a dictionary
info.get('age')

20

In [12]:
#to add a new key value pair 
info['grade'] = 'A'
print(info)

{'name': 'Smith', 'age': 20, 'course': 'Commerce', 'school': 'SRMU', 'grade': 'A'}

In [13]:
#to delete a key value pair
info.pop('course')
print(info)

{'name': 'Smith', 'age': 20, 'school': 'SRMU', 'grade': 'A'}

In [14]:
#to update an existing key value pair
info['age'] = 21
print(info)

{'name': 'Smith', 'age': 21, 'school': 'SRMU', 'grade': 'A'}

In [24]:
print(info.keys())
print(info.values())
print(info.items())

dict_keys(['name', 'age', 'school', 'grade'])
dict_values(['Smith', 21, 'SRMU', 'A'])
dict_items([('name', 'Smith'), ('age', 21), ('school', 'SRMU'), ('grade', 'A')])

In [25]:
for v in info.values():
    print(v)

Smith
21
SRMU
A

In [20]:
for k,v in info.items():
    print(f"{k} : {v}")

name : Smith
age : 21
school : SRMU
grade : A

In [26]:
company = {
    'emp001' : {
        'name' : 'Alice',
        'dept' : 'Sales',
        'salary' : 50000
    },
    'emp002' : {
        'name' : 'Bob',
        'dept' : 'It',
        'salary' : 80000
    },
    'emp003' : {
        'name' : 'Smith',
        'dept' : 'DM',
        'salary' : 60000
    }
}
print(company)

{'emp001': {'name': 'Alice', 'dept': 'Sales', 'salary': 50000}, 'emp002': {'name': 'Bob', 'dept': 'It', 'salary': 80000}, 'emp003': {'name': 'Smith', 'dept': 'DM', 'salary': 60000}}

In [27]:
company['emp002']['salary']

80000